*{
    margin: 0;
    padding: 0;
}
#contenedor{
    width: 70%;
    height: 400px;
    margin: auto;
    border: 2px double red;
}
#resultado{
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: aquamarine;
}
h3{
    text-align: center;
}